@font-face {
  font-family: "paint_ball";
  src: url('./font/Paintball_Beta_3.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ikamodoki";
  src: url('./font/ikamodoki1_0.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ikanji";
  src: url('./font/ab3ec448c2439eaed33fcf7f31b70b33.woff2') format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.ikagana {
  font-family: "ikamodoki", "ikanji", "paint_ball";
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-right {
  display: flex;
  gap: 10px;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

body .menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.nav-menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid white;
  font-size: 20px;
  transition: background-color 0.3s;
}

.nav-menu a:last-child {
  border-bottom: none;
}

.nav-menu a:hover {
  background-color: #333;
}

.top-wrapper {
  position: relative;
  padding: 180px 0 100px 0;
  background-image: url('./assets/黒テーマ.webp');
  background-color: black;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

.top-wrapper:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 100px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 50px;
  margin-bottom: 40px;
}

.content-wrapper {
  padding: 50px;
  background-color: rgba(57, 57, 57, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 10% 0 10%;
}

.content-wrapper a:link {
  color: rgb(70, 241, 255);
  text-decoration: underline;
}

.content-wrapper a:visited {
  color: rgb(255, 35, 207);
  text-decoration: underline;
}

.content-image {
  width: auto;
  height: 500px;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.content-image {
  width: 45%;
  height: auto;
  margin: 0 2.5%;
}

.btn-wrapper {
  text-align: center;
  position: relative;
  z-index: 100;
}

.signup {
  background-color: #ff3edc;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  height: auto;
  font-size: 30px;
}

.btn:hover {
  opacity: 1;
}

.social-button {
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.social-button:hover {
  color: #ff3edc;
}

.social-button.fa-twitter:hover {
  color: rgb(70, 241, 255);
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #ff3edc;
}

.social-icon {
  width: 30px;
  height: auto;
}

.background-image {
  background-image: url('./assets/background.png');
  background-repeat: repeat;
}

.highlight_pink {
  color: rgb(255, 35, 207);
}

.highlight_cyan {
  color: rgb(70, 241, 255);
}

.highlight_yellow {
  color: rgb(255, 248, 59);
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

h2 {
  font-size: 50px;
}

p,
li {
  font-size: 30px;
}

.header-text {
  font-family: "paint_ball";
  color: #eee;
  font-size: 50px;
}

.description {
  font-size: 22px;
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.85;
}

.calucel_item video,
.calucel_item img {
  width: 100%;
  height: auto;
}

.calucel_container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.calucel_item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.calucel_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.calucel_container::-webkit-scrollbar-thumb {
  background-color: #f80af0;
  border-radius: 10px;
  border: 3px solid #000000;
}

.calucel_container::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .top-wrapper h1 {
    opacity: 0.9;
    font-size: 60px;
    letter-spacing: 5px;
  }

  .top-wrapper p {
    opacity: 0.9;
    font-size: 30px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p,
  li {
    font-size: 20px;
  }

  .content-wrapper {
    padding: 10px;
    background-color: rgba(57, 57, 57, 0.9);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 3% 0 3%;
  }

  .content-image {
    width: 90%;
    height: auto;
    align-items: center;
  }

  .header-text {
    font-family: "paint_ball";
    color: #eee;
    font-size: 25px;
  }

  .description {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.75;
  }

  .btn-wrapper {
    z-index: 100;
  }

  .signup {
    z-index: 110;
  }
}